<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25823597002-c75dmf1ejn5jj438ndg0msovgee94tml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25823597002-c75dmf1ejn5jj438ndg0msovgee94tml</string>
	<key>API_KEY</key>
	<string>AIzaSyD-AedHrn5YXBhH7V1T6xaLkPR01Q2qrOk</string>
	<key>GCM_SENDER_ID</key>
	<string>25823597002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninojoy.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-b4442</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-b4442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25823597002:ios:a2f1d624fb297eb7a83f33</string>
</dict>
</plist>